.chat
    .header
        .left-header
            .left-header__title 
                = @group.name
            %ul.left-header__members 
                Member : 
                %li.member 
                    - @group.users.each do |user|
                        = "#{user.name}"
        .right-header
            = link_to "Edit", edit_group_path(@group), class: "edit"
    .new_message
        = form_for [@group, @message] do |f|
            = f.text_field :content, class: 'form_message', placeholder: 'type a message'
            .form_mask
                %span.filelabel{title: "ファイルを選択"}
                    = f.label :image, fa_icon("image"), class: 'form_mask__image'
                    = f.file_field :image, class: 'hidden'
            = f.submit 'Send', class: 'form__submit'